h1{text-align: center;
background-color: white;
color: black;
font-size: 250%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    width: 80%;
    height: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    image-resolution: 100;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}
body {
    background-color: black;
}
h2{ text-align: center;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    }
p{text-align: center;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    font-size: 120%;
    margin: 20px;
    padding: 50px;
}


